@{
    ViewBag.Title = "Index";
}

<h2>Peeps</h2>

<div class="row">
    <a href="@Url.RouteUrl(new { controller = "Home", action = "JQuery" })">jQuery Implementation</a><br />
</div>
<div class="row">
    <a href="@Url.RouteUrl(new { controller = "Home", action = "Backbone" })">Backbone Implementation</a><br />
</div>
<div class="row">
    <a href="@Url.RouteUrl(new { controller = "Home", action = "BackboneMarionette" })">Backbone Marionette Implementation</a><br />
</div>
<div class="row">
    <a href="@Url.RouteUrl(new { controller = "Home", action = "Knockout" })">Knockout Implementation</a><br />
</div>
<div class="row">
    <a href="@Url.RouteUrl(new { controller = "Home", action = "Angular" })">Angular Implementation</a><br />
</div>
<div class="row">
    <a href="@Url.RouteUrl(new { controller = "Home", action = "Ember" })">Ember Implementation</a><br />
</div>