@{
    ViewBag.PageTitle = "Edit";
}

<h2>Edit</h2>

@{
    dynamic form = new Oak.DynamicForm(ViewBag.Blog);
}

@if (ViewBag.Flash != null)
{
    <span>Error: @ViewBag.Flash</span>
}

@using (Html.BeginForm(new { action = "Edit", id = ViewBag.Blog.Id } ))
{
    @Html.Label("Title")<br />
    @OakForm.TextBox(
        form.Title(new Oak.Hash 
        { 
            { "class", "rounded" },
            { "placeholder", "type text here" },
            { "data-first-time", "true" }
        }))<br />
    @Html.Label("Body")<br />
    @OakForm.TextArea(form.Body)<br />
    <input type="submit" value="update blog" />
}