@{
    ViewBag.PageTitle = ViewBag.Blog.Title;
}

<h2>@ViewBag.Blog.Title @Html.ActionLink("edit", "edit", new { id = ViewBag.Blog.Id })</h2>
@Html.Raw(ViewBag.Blog.Body)

<hr />

<h2>Comments</h2>
@foreach (var comment in ViewBag.Comments)
{
    @comment.Text<br />
}


@using (Html.BeginForm("comment", "home"))
{
    @Html.Hidden("id", ViewBag.Blog.Id as object)
    @Html.TextArea("comment")
    <br />
    <input type="submit" value="comment" />
}
