@{
    ViewBag.PageTitle = "New";
}

<h2>New</h2>

@if (ViewBag.Flash != null)
{
    <span>Error: @ViewBag.Flash</span>
}

@using (Html.BeginForm(new { action = "New" }))
{
    @Html.Label("Title")<br />
    @Html.TextBox("Title", ViewBag.@params == null ? "" : Request.Form["Title"])<br />
    @Html.Label("Body")<br />
    @Html.TextArea("Body", ViewBag.@params == null ? "" : Request.Form["Body"])<br />
    <input type="submit" value="insert blog" />
}