@{
    ViewBag.PageTitle = "New";
}

<h2>New</h2>

@if (ViewBag.Flash != null)
{
    <span>Error: @ViewBag.Flash</span>
}

@using (Html.BeginForm(new { action = "New" }))
{
    @Html.Label("Title")<br />
    @ViewBag.Blog.Title_TextBox<br />
    @Html.Label("Body")<br />
    @ViewBag.Blog.Body_TextBox<br />
    <input type="submit" value="insert blog" />
}