@{
    ViewBag.PageTitle = "New";
}

<h2>New Blog</h2>

@if (ViewBag.Flash != null)
{
    <span>Error: @ViewBag.Flash</span>
}

@using (Html.BeginForm(new { action = "New" }))
{
    @Html.Label("Title")<br />
    
    @OakForm.TextBox("Title", Request["Title"])<br />
    @Html.Label("Body") <br />
    @OakForm.TextArea("Body", Request["Body"])<br />
    <input type="submit" value="insert blog" />
}