@{
    ViewBag.PageTitle = "New";
}

<h2>New</h2>

@if (ViewBag.Flash != null)
{
    <span>Error: @ViewBag.Flash</span>
}

@using (Html.BeginForm(new { action = "New" }))
{
    @Html.Label("Title")<br />
    @Html.TextBox("title", ViewBag.@params == null ? "" : ViewBag.@params.title as string)<br />
    @Html.Label("Body")<br />
    @Html.TextArea("body", ViewBag.@params == null ? "" : ViewBag.@params.body as string)<br />
    <input type="submit" value="insert blog" />
}