@{
    ViewBag.PageTitle = "New";
}

<h2>New BLOG</h2>

@{
    dynamic form = new DynamicBlog.Models.DynamicForm(ViewBag.Blog);
}

@if (ViewBag.Flash != null)
{
    <span>Error: @ViewBag.Flash</span>
}

@using (Html.BeginForm(new { action = "New" }))
{
    @Html.Label("Title")<br />
    @form.Title_TextBox <br />
    @Html.Label("Body") <br />
    @form.Body_TextArea <br />
    <input type="submit" value="insert blog" />
}