@{
    ViewBag.PageTitle = "New";
}

<h2>New Blog</h2>

@{
    dynamic form = new Oak.DynamicForm(new DynamicBlog.Models.Blog());
}

@if (ViewBag.Flash != null)
{
    <span>Error: @ViewBag.Flash</span>
}

@using (Html.BeginForm(new { action = "New" }))
{
    @Html.Label("Title")<br />
    
    @OakForm.TextBox(form.Title)<br />
    @Html.Label("Body") <br />
    @OakForm.TextArea(form.Body)<br />
    <input type="submit" value="insert blog" />
}