@{
    ViewBag.PageTitle = "Edit";
}

<h3>Edit a Blog</h3>

@{
    dynamic form = new Oak.DynamicForm(ViewBag.Blog);
}

@if (ViewBag.Flash != null)
{
    <div class="alert alert-error">@ViewBag.Flash</div>
}

@using (Html.BeginForm(new { action = "Edit", id = ViewBag.Blog.Id } ))
{
    @Html.Label("Title")
    @OakForm.TextBox(form.Title)<br />
    @Html.Label("Body")
    @OakForm.TextArea(form.Body)<br />
    <input type="submit" value="update blog" class="btn" />
}
