@{
    ViewBag.PageTitle = ViewBag.Blog.Title;
}

<h3>@ViewBag.Blog.Title @Html.ActionLink("edit", "edit", new { id = ViewBag.Blog.Id })</h3>
@Html.Raw(ViewBag.Blog.Body)

<hr />

<h4>Comments</h4>
@foreach (var comment in ViewBag.Comments)
{
    @comment.Text<hr />
}


@using (Html.BeginForm("comment", "home"))
{
    @Html.Hidden("id", ViewBag.Blog.Id as object)
    @OakForm.TextArea("comment")
    <br />
    <input type="submit" value="comment" class="btn" />
}
