@{
    ViewBag.PageTitle = "New";
}

<h3>New Blog</h3>

@if (ViewBag.Flash != null)
{
    <div class="alert alert-error">@ViewBag.Flash</div>
}

@using (Html.BeginForm(new { action = "New" }))
{
    @Html.Label("Title")
    @OakForm.TextBox("Title", Request["Title"])<br />
    @Html.Label("Body")
    @OakForm.TextArea("Body", Request["Body"])<br />
    <input type="submit" value="insert blog" class="btn" />
}
