<script src="@Url.Content("~/scripts/app/wanted.js")"></script>
<script src="@Url.Content("~/scripts/app/preferred.js")"></script>
<script src="@Url.Content("~/scripts/app/unwanted.js")"></script>
<script src="@Url.Content("~/scripts/app/requested.js")"></script>

<h3>Requested games (mockup)</h3>
<div class="border">
    <div class="info">No one is requesting any games from you.</div>
</div>
<div class="border">
    <div style="float: right; margin-top: 15px; margin-right: 20px; font-size: 20px">
        <a class="check" href="javascript:alert('todo');">I have given him the game</a>
    </div>
    <div style="width: 60%; font-size: 20px">@@amirrajan is requesting<br /> Star Wars: The Force Unleashed (XBOX360)</div>
</div>

<h3>Games you have access to</h3>
<div id="wantedGames"> </div>
<div id="preferredGames"> </div>
<div id="unwantedGames" style="margin-top: 20px"> </div>

<script>
    $(function () {
        var urls = {};

        urls.preferredGamesUrl = '@Url.RouteUrl(new { controller = "Games", action = "Preferred" })';
        urls.notInterestedUrl = '@Url.RouteUrl(new { controller = "Games", action = "NotInterested" })';
        urls.wantedGamesUrl = '@Url.RouteUrl(new { controller = "Games", action = "Wanted" })';
        urls.requestedGamesUrl = '@Url.RouteUrl(new { controller = "Games", action = "Requested" })';
        urls.unwantedGamesUrl = '@Url.RouteUrl(new { controller = "Games", action = "NotInterested" })';

        wanted.init(urls);

        preferred.init(urls);

        unwanted.init(urls);

        requested.init(urls);
    });
</script>
