<script src="@Url.Content("~/scripts/app/preferred.js")"></script>
<script src="@Url.Content("~/scripts/app/wanted.js")"></script>

<h3>OMG Games!</h3>
<div id="wantedGames">
</div>
<div class="border">
  <div id="preferredGames">
  </div>
</div>

<script>
    $(function () {
        var urls = {};

        urls.preferredGamesUrl = '@Url.RouteUrl(new { controller = "Games", action = "Preferred" })';
        urls.notInterestedUrl = '@Url.RouteUrl(new { controller = "Games", action = "NotInterested" })';
        urls.wantGameUrl = '@Url.RouteUrl(new { Controller = "Games", action = "WantGame" })';
        urls.wantedGamesUrl = '@Url.RouteUrl(new { Controller = "Games", action = "Wanted" })';

        $(function () {
            preferred.init(urls);
            wanted.init(urls);
        });
    });
</script>
