<script src="@Url.Content("~/scripts/app/autocomplete.js")"></script>
<script src="@Url.Content("~/scripts/app/gamelibrary.js")"></script>
<script src="@Url.Content("~/scripts/app/toggle.js")"></script>

    
<div id="library">
    <div class="title">Your Game Library <a id="closeLibraryTop" href="javascript:;" style="float: right" class="cancel">close</a></div>
    <input type="text" id="gameToAdd" placeholder="type here to add game..." style="font-size: 20px" />
    <div id="games"></div>
    <div style="margin-top: 50px">
        <a id="closeLibrary" href="javascript:;" class="cancel">close</a>
    </div>
</div>
    
<script>
    $(function () {
        var searchUrl = '@Url.RouteUrl(new { controller = "Library", action = "Search" })';
        var addGameUrl = '@Url.RouteUrl(new { controller = "Library", action = "Add" })';
        var removeGameUrl = '@Url.RouteUrl(new { controller = "Library", action = "Delete" })';
        var libraryUrl = '@Url.RouteUrl(new { controller = "Library", action = "List" })';
        gamelibrary.init({
            searchUrl: searchUrl,
            addGameUrl: addGameUrl,
            removeGameUrl: removeGameUrl,
            libraryUrl: libraryUrl
        });
    });
</script>

@if (ViewBag.HasGames)
{ <a href="javascript:;" id="showLibrary" class="btn btn-info">view your game library</a> }
else
{ <a href="javascript:;" id="showLibrary" class="btn btn-danger">looks like you have no games, click to add</a> }
