<!DOCTYPE html>
<html>
<head>
    <title>Backbone Demo: Todos</title>
    <link href="@Url.Content("~/Content/todos.css")" media="all" rel="stylesheet" type="text/css"/>
    <script>window.JSON || document.write('<script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js">\x3C/script>')</script>
    <script src="@Url.Content("~/Scripts/jquery-1.5.js")"></script>
    <script src="@Url.Content("~/Scripts/underscore-1.1.5.js")"></script>
    <script src="@Url.Content("~/Scripts/backbone.js")"></script>
    <script src="@Url.Content("~/Scripts/todos.js")"></script>
  </head>

<body>
    @RenderBody()
</body>
</html>
